.content{
    margin-top: 8%;
  }
  
.mask img{
  z-index: 1;
    position: relative;
    top: -60px;
    width: 100%;
}

@media screen and (max-width: 980px) {
  .mask img{
    top: -5.5rem;
  }
}
  
  
  
  