@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/special-elite-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/special-elite-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/special-elite-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/special-elite-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/special-elite-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/special-elite-v18-latin-regular.svg#SpecialElite') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  font-family: Special Elite ;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.bi{
    font-size: 32px;
    margin: 15px;
    color: #cccccc;
}